@*File view định hình giao diện cho trang chủ website*@
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5">
    <h1 class="display-4 fw-bold text-primary">CHÀO MỪNG ĐẾN VỚI ỨNG DỤNG VẠCH THƯỚC - UIT - CS112</h1>
    <p class="lead mt-4">
        Đây là một ứng dụng trực quan mô phỏng bài toán <strong>vạch thước</strong> bằng thuật toán <strong><em>chia để trị</em></strong>.
        <br />
        Bạn có thể nhập <strong>độ dài của thước</strong> và <strong>độ cao vạch kẻ đầu tiên (vạch kẻ cao nhất)</strong> và xem kết quả trực quan thước được vẽ ra.
    </p>

    <a href="/Ruler/Index" class="btn btn-outline-primary btn-lg mt-4">
        <i class="bi bi-pencil"></i> Vẽ Thước Ngay
    </a>
</div>